@charset "utf-8";

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
	width: 0.8rem;
	background: #c4ba9e;
	;
}
::-webkit-scrollbar-thumb{
	background: #fdc893;
	border-radius: 0.5rem;
}

#wrap {
  width: 100%;
  background: #fff;
}
#header {
  width: 100%;
  height: 80px;
  background: #000;
  position: fixed;
  top: 0;
  z-index: 4;
}
#logo {
	position: relative;
  height: 80px;
}
#logo a {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  display: inline-block;
  width: 140px;
  height: 50px;
  background: url("../img/logo.png") no-repeat center / contain;
}
#logo a span.skip {
  position: absolute;
  left: -999999px;
}
#mo_btn > button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  background: none;
  cursor: pointer;
}
#mo_btn > button span {
  display: block;
  width: 20px;
  height: 2px;
  background: #fff;
  margin: 4px auto;
  position: relative;
  transition: all 0.2s;
}
#mo_btn > button.close span.line01 {
  width: 20px;
  height: 2px;
  background-color: #fff;
  position: relative;
  display: block;
  margin: -2px auto;
  transform: rotate(-45deg);
  transition: all 0.2s;
}
#mo_btn > button.close span.line02 {
  display: none;
}
#mo_btn > button.close span.line03 {
  width: 20px;
  height: 2px;
  background-color: #fff;
  position: relative;
  display: block;
  margin: 0px auto;
  transform: rotate(45deg);
  transition: all 0.2s;
}

#menu {
  display: none;
  text-align: center;
  background: #000;
  width: 100%;
  height: 100vh;
  z-index: 5;
  position: relative;
}
#menu ul {
  padding-top: 50px;
}
#menu ul li {
  margin: 20px 0 50px;
}
#menu a {
  color: #fff;
  padding: 10px 20px;
  font-size: 22px;
  font-family: "Lime_B";
}
#menu a.on {
  color: #ffca6f;
  border-bottom: 2px solid #ffca6f;
}
#menu ul li:hover a {
  color: #ffca6f;
}

.content{
	padding: 0 20px;
	overflow: hidden;
}


/* banner */
#banner {
  position: relative;
	padding-top: 80px;
  background: #d0c7be;
}
#banner_wrap {
	position: relative;
  display: flex;
  align-items: center;
	width: 100%;
	height: 430px;
}
#banner_wrap .banner_text {
  z-index: 1;
}
#banner_wrap .banner_text .text01,
#banner_wrap .banner_text .text02 {
  color: #a77814;
  font-size: 28px;
  font-family: "MinionPro_It";
}
#banner_wrap .banner_text .text03 {
  font-size: 15px;
  font-style: italic;
  font-family: "NotoSans_R";
  margin-top: 15px;
}

#banner_wrap .banner_box {
  position: absolute;
  left: 18%;
  top: 50px;
  width: 55%;
	max-width: 550px;
	height: 200px;
  border: 4px solid #fff;
}
#banner_wrap .banner_img {
  position: absolute;
  top: 150px;
  right: 5%;
  width: 55%;
	max-width: 550px;
	height: 200px;
  background: url("../img/banner.png") no-repeat -40px center;
  background-size: cover;
}
#banner_wrap .banner_img::before {
  content: "";
  position: absolute;
  background-color: #dcdcdc;
  opacity: 0.3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.scroll .scroll_img {
  position: absolute;
  bottom: 5%;
  left: 50%;
	transform: translateX(-50%);
  width: 40px;
  height: 26px;
  cursor: pointer;
}

.content h2 {
  padding: 80px 0 20px;
  font-size: 50px;
  font-family: "CevicheOne";
  text-align: center;
  color: #9c6060;
}

/* about */
#about {
  position: relative;
  width: 100%;
  background-color: #e2ded3;
  overflow: hidden;
}
#about_wrap .content_text {
  font-size: 15px;
  text-align: center;
  font-family: "NotoSans_B";
  color: #9c6060;
}
#about_wrap .about_img {
	padding: 50px 0 20px;
	margin: 0 auto;
	width: 300px;
}
#about_wrap .about_menu {
  width: 100%;
}
#about_wrap .about_tap .panel {
  display: flex;
}
#about_wrap .about_tap .link {
	margin-right: 20px;
	margin-bottom: 20px;
  display: inline-block;
  font: 15px "NEXON.lv2_B";
}
#about_wrap .about_tap .link.on {
  color: #ffad00;
	border-bottom: 1px solid #ffad00;
}
#about_wrap .about_tap .link:hover {
  color: #ffad00;
}
#about_wrap .tab_content{
	height: 0;
	overflow: hidden;
}
#about_wrap .tab_content.on{
	padding-bottom: 160px;
	margin-top: 10px;
	height: auto;
	overflow: inherit;
}
#about #panel01 li {
	position: relative;
  margin-bottom: 20px;
	padding-left: 18px;
  font: 13px "NotoSans_R";
  letter-spacing: 0.7px;
}
#about_wrap #panel01 .checkR {
	position: absolute;
	left: 0;
  color: #fd5959;
  margin-right: 5px;
}
#about_wrap #panel02 li {
  font: 13px "NotoSans_R";
  margin-bottom: 15px;
  letter-spacing: 0.7px;
}
#about_wrap #panel02 .bold {
  font-size: 1.1em;
  font-family: "NotoSans_B";
  margin-bottom: 5px;
}
#about_wrap #panel03 .about_me_text {
  font: 13px "NotoSans_R";
  word-break: keep-all;
}
#about_wrap #panel03 .about_me_text .bold {
  font: 1.1em "NotoSans_B";
  margin: 30px 0px 10px;
}
#about_wrap #panel03 .about_me_text .bold:first-child {
	margin-top: 0;
}

#fixd_bg {
  position: absolute;
	left: 0;
  bottom: 0;
  width: 100%;
  background: url(../img/night-view.jpg) no-repeat center / cover;
}
#fixd_bg .fixd_text {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  color: #fff;
}

#fixd_bg .fixd_text .text01 {
  font-family: "NEXON.lv2_B";
  font-size: 20px;
  padding: 30px 0 5px;
  border-bottom: 2px solid #feae00;
  width: 150px;
  margin: 0 auto;
}
#fixd_bg .fixd_text .text02 {
  font-family: "NotoSans_R";
  padding: 20px 0;
}

/* skills */
#skills {
  position: relative;
  width: 100%;
  background: linear-gradient(#e1dfd2, #fff);
}
	/* skill image */
#skills_wrap .skills_box {
  display: none;
}
#skills_wrap .skills_box ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
#skills_wrap .skills_box li {
  width: 70px;
  border: 1px solid #838383;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 3px 3px 5px #999;
  margin: 10px;
}
#skills_wrap .skills_title {
  margin-bottom: 50px;
  font-size: 15px;
  color: #9c6060;
  text-align: center;
  font-family: "NotoSans_R";
  font-style: italic;
}
#skills_wrap .skills_graph{
	padding-bottom: 50px;
}

#skills_wrap .skill {
  width: 100%;
  height: 30px;
  margin: 0 auto;
  padding: 5px 0px;
  display: flex;
}
#skills_wrap .skill .skill_name {
  margin-top: 3px;
  width: 110px;
  font-size: 13px;
  font-family: "NotoSans_R";
  letter-spacing: -0.3px;
}
#skills_wrap .skill .graph_bg {
  width: 100%;
  height: 16px;
  position: relative;
  background: #f4f4f4;
  margin-top: 3px;
}
#skills_wrap .skill .graph_color01 {
  background: -webkit-linear-gradient(to right, #ffd478 25%, #959f95);
  background: -o-linear-gradient(to right, #ffd478 25%, #959f95);
  background: -moz-linear-gradient(to right, #ffd478 25%, #959f95);
  background: linear-gradient(to right, #ffd478 25%, #959f95);
  width: 90%;
  height: 16px;
  display: block;
  position: absolute;
}
#skills_wrap .skill .graph_color02 {
  background: -webkit-linear-gradient(to right, #ffd478 25%, #959f95);
  background: -o-linear-gradient(to right, #ffd478 25%, #959f95);
  background: -moz-linear-gradient(to right, #ffd478 25%, #959f95);
  background: linear-gradient(to right, #ffd478 25%, #959f95);
  width: 90%;
  height: 16px;
  display: block;
  position: absolute;
}
#skills_wrap .skill .graph_color03 {
  background: -webkit-linear-gradient(to right, #ffd478 25%, #959f95);
  background: -o-linear-gradient(to right, #ffd478 25%, #959f95);
  background: -moz-linear-gradient(to right, #ffd478 25%, #959f95);
  background: linear-gradient(to right, #ffd478 25%, #959f95);
  width: 80%;
  height: 16px;
  display: block;
  position: absolute;
}
#skills_wrap .skill .graph_color04 {
  background: -webkit-linear-gradient(to right, #ffd478 25%, #959f95);
  background: -o-linear-gradient(to right, #ffd478 25%, #959f95);
  background: -moz-linear-gradient(to right, #ffd478 25%, #959f95);
  background: linear-gradient(to right, #ffd478 25%, #959f95);
  width: 80%;
  height: 16px;
  display: block;
  position: absolute;
}
#skills_wrap .skill .graph_color05 {
  background: -webkit-linear-gradient(to right, #ffd478 25%, #959f95);
  background: -o-linear-gradient(to right, #ffd478 25%, #959f95);
  background: -moz-linear-gradient(to right, #ffd478 25%, #959f95);
  background: linear-gradient(to right, #ffd478 25%, #959f95);
  width: 90%;
  height: 16px;
  display: block;
  position: absolute;
}
#skills_wrap .skill .graph_color06 {
  background: -webkit-linear-gradient(to right, #ffd478 25%, #959f95);
  background: -o-linear-gradient(to right, #ffd478 25%, #959f95);
  background: -moz-linear-gradient(to right, #ffd478 25%, #959f95);
  background: linear-gradient(to right, #ffd478 25%, #959f95);
  width: 65%;
  height: 16px;
  display: block;
  position: absolute;
}
#skills_wrap .skill .skill_p {
  display: inline-block;
  letter-spacing: -0.5px;
  width: 45px;
  margin-left: 20px;
  font-size: 13px;
}

/* portfolio */
#portfolio {
  width: 100%;
  background: #fff;
}

#portfolio_wrap .portfolio_title {
  margin-bottom: 50px;
  font-size: 15px;
  color: #9c6060;
  font-family: "NotoSans_R";
  font-style: italic;
  text-align: center;
}
#portfolio_wrap .portfolio_tab ul {
  display: flex;
  margin-bottom: 40px;
}
#portfolio_wrap .portfolio_tab ul li:not(:last-child){
	margin-right: 10px;
}
#portfolio_wrap .portfolio_tab a {
  padding: 8px 12px;
  font-size: 13px;
  background: #000;
  border-radius: 20px;
  color: #fff;
  font-family: "NotoSans_R";
}
#portfolio_wrap .portfolio_tab a.on {
  background-color: #feae00;
}
#portfolio_wrap .portfolio_box ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#portfolio_wrap .portfolio_box ul li {
  position: relative;
  margin: 10px 0 20px;
  height: auto;
  border-radius: 15px;
  box-shadow: 3px 3px 5px #838383;
  overflow: hidden;
}
#portfolio_wrap .portfolio_box a {
  display: inline-block;
  width: 100%;
}
#portfolio_wrap .portfolio_box li div {
	display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -0%;
}
#portfolio_wrap .portfolio_box li div p{
  width: 100%;
  height: 100%;
  color: #d1d1d1;
  font-family: "NotoSans_R";
  font-size: 16px;
	padding: 50px 20px;
  background: rgba(0, 0, 0, 0.5);
	opacity: 0;
  transition: 1s;
}
#portfolio_wrap .portfolio_box li div span{
	position: absolute;
	bottom: -100%;
	display: block;
  width: 100%;
  height: 50px;
  background: #ffc13e;
  color: #fff;
  font-family: "NotoSans_R";
  font-size: 16px;
  line-height: 50px;
  transition: 1s;
	text-align: center;
}

/* contact */
#contact{
	padding: 80px 0 0; 
	overflow: hidden;
}
#contact_bg {
  position: relative;
	padding: 40px;
  width: 100%;
  background: url(../img/contant-bg.png) no-repeat left;
  background-size: cover;
}
#contact_wrap h3 {
  text-align: center;
  font-size: 32px;
  font-family: "NotoSans_B";
  color: #fff;
}

#contact_wrap .contact_name,
#contact_wrap .contact_name .cv{
	position: relative;
	width: 100%;
	margin-top: 30px;
  color: #fff;
  font-family: "NEXON.lv1_R";
  letter-spacing: 1.2px;
}
#contact_wrap .icon_img{
	width: 42px;
	filter: drop-shadow(2px 4px 6px black);
}
#contact_wrap .top_icon p,
#contact_wrap .bottom_icon p {
	position: absolute;
	top: 50%;
	left: 55px;
	transform: translateY(-50%);
  font-size: 13px;
  color: #fff;
}

#contact_wrap .top_icon p.point {
  color: #ffad00;
  font-weight: bold;
}



#footer {
  width: 100%;
  padding: 30px 0;
  position: relative;
  background: #000;
  border-top: 1px solid #feae00;
}
#footer .footer_wrap {
  color: #fff;
  text-align: center;
}
#footer .footer_wrap p {
  font-size: 10px;
  font-style: italic;
}



#float {
  display: none;
}

#float_side {
  position: absolute;
  top: 250px;
  right: 3%;
}
#float_side .float_text {
  width: 150px;
  position: absolute;
  right: -0;
  -webkit-transform: rotate(90deg); /* 크롬, 사파리 */
  -webkit-transform-origin: 55px 80px; /* 회전 위치 정리 왼쪽 위 */
  -moz-transform: rotate(90deg); /* 파이어폭스 */
  -moz-transform-origin: 45px 65px;
  -ms-transform: rotate(90deg); /* 익스플로러 */
  -ms-transform-origin: 45px 65px;
  -ms-transform: rotate(90deg); /* 오페라 */
  -ms-transform-origin: 45px 65px;

  color: #ffad00;
  font-family: "NotoSans_R";
  font-style: italic;
  font-size: 12px;
}

#float_side .float_text span::before {
  position: relative;
  content: "";
  display: block;
  border-bottom: 2px solid #ffad00;
  width: 20px;
  top: 10px;
  left: -30px;
}


/* buttom */
#float_side ul {
  position: absolute;
  right: 0;
}
#float_side ul li {
  border: 0;
  margin: 0;
  padding: 0;
}
#float_side ul li span {
  margin: 0 0 10px 0;
  cursor: pointer;
  display: block;
  text-indent: -999999px;
}
#float_side ul li #btn01 {
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 1px solid #888;
  transition: all 0.5s;
  background: #cccccc;
}
#float_side ul li #btn02 {
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 1px solid #888;
  transition: all 0.5s;
  background: #cccccc;
}
#float_side ul li #btn03 {
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 1px solid #888;
  transition: all 0.5s;
  background: #cccccc;
}
#float_side ul li #btn04 {
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 1px solid #888;
  transition: all 0.5s;
  background: #cccccc;
}
#float_side ul li #btn05 {
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 1px solid #888;
  transition: all 0.5s;
  background: #cccccc;
}

#float_side ul li:hover #btn01 {
  background-color: #ff6f6f;
}
#float_side ul li:hover #btn02 {
  background-color: #a75d1c;
}
#float_side ul li:hover #btn03 {
  background-color: #a4296f;
}
#float_side ul li:hover #btn04 {
  background-color: #333333;
}
#float_side ul li:hover #btn05 {
  background-color: #620808;
}

#float_side ul li.active #btn01 {
  background-color: #ff6f6f;
  height: 45px;
  border-radius: 25px;
  border: none;
}
#float_side ul li.active #btn02 {
  background-color: #a75d1c;
  height: 45px;
  border-radius: 25px;
  border: none;
}
#float_side ul li.active #btn03 {
  background-color: #a4296f;
  height: 45px;
  border-radius: 25px;
  border: none;
}
#float_side ul li.active #btn04 {
  background-color: #333333;
  height: 45px;
  border-radius: 25px;
  border: none;
}
#float_side ul li.active #btn05 {
  background-color: #620808;
  height: 45px;
  border-radius: 25px;
  border: none;
}


@media all and (min-width: 500px) {
  
  #fixd_bg .fixd_text .text01 {
    width: 200px;
    font-size: 24px;
  }
  #fixd_bg .fixd_text .text02 {
    font-size: 13px;
  }
}


@media all and (min-width: 660px) {
  #header_wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #logo a{
    top: 50%;
    transform: translateY(-50%);
  }
  #mo_btn {
    display: none;
  }
  #menu {
    display: block !important;
    height: auto;
    background: none;
  }
  #menu ul {
    padding-top: 0;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }
  #menu ul li {
    margin: 0;
  }
  #menu a {
    font-size: 16px;
    padding: 10px 10px;
  }


  #banner_wrap {
    height: 600px;
  }
  #banner_wrap .banner_text .text01,
  #banner_wrap .banner_text .text02 {
    font-size: 40px;
  }
  #banner_wrap .banner_text .text03 {
    font-size: 15px;
  }
  #banner_wrap .banner_img {
    height: 270px;
    top: 180px;
  }

  #banner_wrap .banner_box {
    height: 270px;
    top: 80px;
  }

	.content h2 {
		font-size: 60px;
	}

  #about {
    padding-bottom: 100px;
    overflow: hidden;
  }
  #about_wrap .content_text {
    font-size: 16px;
  }
  .about_box {
    display: flex;
    margin-top: 80px;
    justify-content: center;
  }
	#about_wrap .about_img{
    padding: 0;
		width: 230px;
  }
  #about_wrap .about_menu {
    width: 50%;
  }

  #fixd_bg .fixd_text .text02 {
    font-size: 15px;
    padding: 25px 0 50px;
  }

  #skills_wrap {
    height: 650px;
  }
  #skills_wrap .skills_box {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 50px;
  }
  #skills_wrap .skills_title {
    font-size: 16px;
    margin-bottom: 40px;
  }
  #skills_wrap .skill {
    width: 95%;
  }
  #skills_wrap .skill .graph_bg {
    width: 440px;
  }

  #portfolio_wrap .portfolio_title {
    font-size: 16px;
  }
	
	#portfolio_wrap .portfolio_box li:hover div p {
		opacity: 1;
	}
	#portfolio_wrap .portfolio_box li:hover div span {
		bottom: 0;
	}

	#contact_wrap .top_icon p, 
	#contact_wrap .bottom_icon p{
		left: 60px;
		font-size: 15px;
	}

  #float {
    display: block;
    top: 200px;
  }
}


@media all and (min-width: 770px) {
	
	#banner_wrap {
		height: 650px;
  }
  #banner_wrap .banner_img {
    height: 330px;
    top: 180px;
  }
	
  #banner_wrap .banner_box {
		height: 320px;
    top: 80px;
  }
  #about_wrap .about_menu {
		width: 55%;
  }
  #about_wrap .about_img {
		width: 240px;
    margin-right: 20px;
  }
  #about_wrap .about_tap .link {
		font-size: 20px;
  }
  #about_wrap #panel01 li,
  #about_wrap #panel02 li {
		font-size: 15px;
  }
  #about_wrap #panel03 .about_me_text {
		font-size: 15px;
  }
	
	
  #skills_wrap .skills_container {
		display: flex;
    width: 98%;
    padding-top: 50px;
  }
  #skills_wrap .skills_box {
		width: 35%;
    position: inherit;
    margin: 0 auto;
  }
  #skills_wrap .skills_box ul {
		flex-wrap: wrap;
		justify-content: inherit;
  }
  #skills_wrap .skills_box li {
		margin: 10px 20px;
    width: 80px;
    height: 100px;
  }
	
  #skills_wrap .skills_graph {
		width: 60%;
  }
  #skills_wrap .skills_title {
		text-align: left;
  }
  #skills_wrap .skill .skill_name {
		font-size: 15px;
  }
  #skills_wrap .skill .skill_p {
		font-size: 15px;
  }
	#portfolio_wrap .portfolio_box ul{
		justify-content: space-between;
	}
	#portfolio_wrap .portfolio_box ul li {
		position: relative;
		width: 48%;
		height: auto;
	}
		
	#contact_bg {
		width: 90%;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 auto 80px;
  }
	#contact_wrap .top_icon,
	#contact_wrap .bottom_icon {
		display: flex;
		justify-content: center;
		padding-top: 20px;
	}
	#contact_wrap .top_icon > div,
	#contact_wrap .bottom_icon > div {
		width: 240px;
		color: #fff;
		text-align: center;
		margin-top: 30px;
		font-family: "NEXON.lv1_R";
		letter-spacing: 1.2px;
	}
	#contact_wrap .icon_img{
		margin: 0 auto;
	}
  #contact_wrap .bottom_icon > div {
		width: 240px;
  }
  #contact_wrap .top_icon p,
  #contact_wrap .bottom_icon p {
		position: initial;
		font-size: 16px;
    margin-top: 15px;
  }
} 

@media all and (min-width: 900px) {
	
	
	#skills_wrap .skills_box li {
		margin: 10px 20px;
    width: 90px;
    height: 110px;
  }
	
	#portfolio_wrap .portfolio_box ul li {
		width: 30%;
    height: auto;
  }
	
  #contact_wrap #contact_bg {
		width: 85%;
  } 
}

@media all and (min-width: 1028px) {
  #header_wrap {
    width: 1028px;
    margin: 0 auto;
  }
  #banner {
		height: 750px;
  }
  #banner_wrap {
		position: relative;
    width: 1028px;
    margin: 0 auto;
  }
  #banner_wrap .banner_img {
    height: 400px;
  }
  #banner_wrap .banner_box {
    height: 400px;
  }
	
  #about {
		padding-bottom: 150px;
  }
  #about_wrap {
		width: 1028px;
    margin: 0 auto;
  }
  #about_wrap .about_img {
		width: 260px;
  }
  #about_wrap .about_menu {
		margin-left: 50px;
    width: 60%;
  }
  
	
  #skills_wrap {
    margin: 0 auto;
		padding-bottom: 20px;
		width: 1028px;
		height: auto;
  }
  #skills_wrap .skills_container {
		width: 100%;
  }
  #skills_wrap .skills_box {
		width: 40%;
  }
  #skills_wrap .skills_box li {
		margin: 20px 10px;
    width: 105px;
    height: 130px;
  }
	
  #skills_wrap .skills_graph {
		width: 55%;
  }
	
  #portfolio_wrap {
		width: 1028px;
    margin: 0 auto;
  }  
  
  #contact_bg {
    width: 850px;
  }
	#contact_wrap .top_icon, 
	#contact_wrap .bottom_icon {
    justify-content: space-around;
	}
}
